<name name="{{ name }}"></name>

<div>
  <div class="container">
    <div class="Row">
      <div class="Column" (click)="onViewClickA()">
        <categoryA categoryA="{{ categoryA }}"></categoryA>
      </div>
      <div class="Column" (click)="onViewClickB()">
        <categoryB categoryB="{{ categoryB }}"></categoryB>
      </div>
      <div class="Column" (click)="onViewClickC()">
        <categoryC categoryC="{{ categoryC }}"></categoryC>
      </div>
    </div>

    <!-- Content Components -->
    <div class="contentArea">
      <contentA *ngIf="canViewA">
      </contentA>
      <contentB *ngIf="canViewB">
      </contentB>
      <contentC *ngIf="canViewC">
      </contentC>
    </div>
  </div>
</div>