<h1>ABOUT</h1>
<hr>

<h3 class="remove-margin">Background</h3>
<p>In the middle of the 2020 pandemic, I decided to spend more time learning how to code. In November 2020, I enrolled in General Assembly's Software Engineering Immersive, remote program. I graduated from the program in February, 2021, ready to show, and most importantly grow my skills both on and off the job.</p>
<hr>

<h3 class="remove-margin">Software Engineering To Me</h3>
<p>Software engineering is like a jigsaw puzzle to me. You start off by putting together what you know, often the edge pieces. The rest is trying new things and seeing what fits. Sometimes, you see a piece that looks like it works, but later down the line, you realize something else fits perfectly in that slot. I've always loved puzzles. Being able to figure out different ways to solve the problem, organizing and breaking down what I know, and understanding the solution. With each puzzle, I learn different strategies and get better. With this mentality, I want to develop applications, learning more as I solve, and bringing new ideas and creativity to life.</p>
<hr>

<h3 class="remove-margin">Front-End</h3>
<p class="center-content" id="skill">HTML | CSS | Bootstrap | SASS | JavaScript (ES5) | JavaScript (ES2016) | Typescript | jQuery | ReactJS | Angular</p>
<h3 class="remove-margin">Back-End</h3>
<p class="center-content" id="skill">Node.js | Express.js | Python | Django | MVC Frameworks | PostgreSQL | MongoDB | RESTful APIs | C++</p>
<h3 class="remove-margin">Other</h3>
<p class="center-content" id="skill">Git | GitHub | Troubleshooting | Product-Planning - ERDs/Wireframes | Individual/Pair/Group Coding Experience</p>
<hr>

<h3 class="remove-margin">Fun Facts</h3>
<p>I play video games during my free time. Sometimes I play fighting games competitively and host my own online weekly tournament ever since the pandemic started. Some nights, I stream variety games to wind down. Through games I've contributed to, and at times hosted charity events.
  <br>
  <br>
I went to university for a Music Performance degree in trumpet. I make mash-ups occasionally.
</p>