<h1>CONTACT ME</h1>
<hr>
<!-- <p class="center-content">lilylam743@gmail.com</p> -->
<h2>SOCIALS</h2>
<h3 class="remove-margin">
  <a href="https://linkedin.com/in/LilyLam-SE" target="_blank">LinkedIn</a>
</h3>

<h3 class="remove-margin">
  <a href="https://twitter.com/LamsauceSE" target="_blank">Twitter</a>
</h3>

<h3 class="remove-margin" id="email">
  <a href="mailto:lilylam743@gmail.com" target="_blank">Email</a> 
</h3>
<p class="center-content">Lilylam743@gmail.com</p>
<hr>

<h2>OTHER LINKS</h2>
<h3 class="remove-margin">
  <a href="https://github.com/Lamsauce" target="_blank">GitHub</a>
</h3>