<h1>PORTFOLIO</h1>
<hr>

<h3 class="project-title">TAMAGOTCHI</h3>
<h5><em>November 2020</em></h5>
<hr class="short-hr">
<p class="justify-false">My first project, starting my journey as a software engineer. An interactive website where the user must take care of their pet. The goal is to keep the pet alive as long as possible, making sure the pet doesn't die from hunger, boredom, or exhaustion. As soon as any one of the three stats hit zero, the pet will die and the game is over.</p>
<br>
<p class="center-content" id="skill">Visual Studio Code, HTML, CSS, JavaScript, jQuery</p>
<a class="right-link" href="https://github.com/Lamsauce/Tamagotchi" target="_blank">> GitHub Repo</a>
<br>
<a class="right-link" href="https://pages.git.generalassemb.ly/lamsauce/Tamagotchi/" target="_blank">> Deployed Website</a>
<br>

<h3 class="project-title">WAYFARER</h3>
<h5><em>January 2021</em></h5>
<hr class="short-hr">
<p class="justify-false">A 4-person collaborative project in which we were tasked by our instructors, as role-play clients, to follow client wireframes and apply all client requests. In this application, users can sign up to leave a post about a city they visited.</p>
<br>
<p class="center-content" id="skill">Visual Studio Code, HTML, CSS, PostgreSQL, Django</p>
<a class="right-link" href="https://github.com/Lamsauce/Project-Wayfarer" target="_blank">> GitHub Repo</a>
<br>
<a class="right-link" href="https://teamproject-wayfarer.herokuapp.com/" target="_blank">> Deployed Website</a>
<br>

<h3 class="project-title">TWITCHTALK</h3>
<h5><em>February 2021</em></h5>
<hr class="short-hr">
<p class="justify-false">A forum site for users to connect with each other through their choice of popular multiplayer game.</p>
<br>
<p class="center-content" id="skill">Visual Studio Code, HTML, CSS, PostgreSQL, Django</p>
<a class="right-link" href="https://github.com/Lamsauce/twitchtalk" target="_blank">> GitHub Repo</a>
<br>
<a class="right-link" href="https://twitchtalk.herokuapp.com/" target="_blank">> Deployed Website</a>

